#topPane{
    -fx-background-color: #4fc3f7;
}
.button {
    -fx-min-width: 200px;
    -fx-background-color: #fff;
    -fx-background-radius: 7px;
    -fx-text-fill: #000;
    -fx-font-size: 12px;
    -fx-padding: 10px;
    -fx-border-color: #4fc3f7;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
}

.button:hover {
    /*-fx-effect: dropshadow(two-pass-box , rgba(0,0,0,0.8), 10, 0, 0, 0);*/
    -fx-cursor: HAND;
    -fx-background-color: #4fc3f7;
    -fx-text-fill: #fff;
}

.button:pressed{
    -fx-scale-y: 0.97;
    -fx-scale-x: 0.97;
}
